*{
    margin: 0;
    padding: 0;
}
.navbar-brand{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: middle;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased ;
    line-height: 100px;
}

.header-area{
    position: absolute;
    top: 0;
    left: 120px;
    right: -150px;
    z-index: 100;
    height: 100px;
    margin: 10px;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased ;    
     line-height: 95px;
     text-align: left;
}
.header-area.header-sticky{
    min-height: 80px;

} 
        /* banner  */

 /* #top {
   padding-top: 0px;
  }
          
 #top .col-lg-4,
 #top .col-lg-8 {
 padding: 0px;
 }
          
  #top .left-content {
            background-image: url(../images/top-left-bg.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            width: 100%;
            height: 100%;
 }
#top .left-content .inner-content {
     position: absolute;
    top: 50%;
  transform: translate(-50%, -50%);
 left: 50%;
 }
 #top .left-content h4 {
    font-family: 'Dancing Script', cursive;
   color: #fff;
  font-size: 54px;
  font-weight: 700;
}
          
 #top .left-content h6 {
font-size: 15px;
 text-transform: uppercase;
font-weight: 700;
 color: #fff;
letter-spacing: 3px;
margin-top: 5px;
 }
 #top .left-content .main-white-button{
margin-top: 25px;
margin-bottom: 10px;
 border-radius: 2px solid white;
          }
#top .left-content .main-white-button  {
margin-top: 25px;
 margin-bottom: 10px;
 }
          
 #top .left-content .main-white-button a {
 display: inline-block;
 }
#img-fill{
width: inherit;
display: inline-block;
/* overflow: hidden; */
/* position:inherit; */
/* text-align: center;
object-fit: cover;
object-position: 0% 0%;
clear: right;
} */
          
 /* .img-fluid  {
min-height: 100%;
min-width: 100%;
position: relative;
display: inline-block;
max-width: none; 
width:100%;
height:auto;
}  */
       
/*      
        
          .Grid1k {
            padding: 0 15px;
            max-width: 1200px;
            margin: auto; */
          /* }
           */
          /* .blocks-box,
          .slick-slider {
            margin: 0;
            padding: 0!important;
          } 
          
          
          
          
          /* ==== Slider Style === */
          /* .Modern-Slider .item .img-fill{
            height:100%;
            max-height: 700px;
            background:#000;
          }
          
          .Modern-Slider .item .info > div{
            display:inline-block!important;
            vertical-align:middle;
          } */
          
          /* .Modern-Slider .NextArrow { */
            /* background-image:url(/images/next.png); */
            /* position:absolute;
            top:50%;
            transform: translateY(-25px);
            right:30px;
            width: 50px;
            height: 50px;
            background-color: #f7beb9;
            border:0 none;
            line-height: 44px;
            border-radius: 50%;
            text-align:center;
            font-size: 36px;
            font-family: 'FontAwesome';
            color:#FFF;
            z-index:5;
            outline: none;
            opacity: 0.3;
            transition: all .3s;
          }
         */
        
          /* .Modern-Slider .PrevArrow {
            position:absolute;
            top:50%;
            transform: translateY(-25px);
            left:30px;
            width: 50px;
            height: 50px;
            background-color: #fb5849;
            border:0 none;
            line-height: 44px;
            border-radius: 50%;
            text-align:center;
            font-size: 36px;
            font-family: 'FontAwesome';
            color:#FFF;
            z-index:5;
            outline: none;
            opacity: 0.3;
            transition: all .3s;
          }
           ul.slick-dots {
            display: none!important;
          }
         
          .Modern-Slider .buttons {
            position: relative;
          }  */
          #about {
            margin-top: 20px;
            padding: 100px 0px 0px 0px;
            position: relative;
            z-index: 9;
          }
         
          #about .section-heading h2 {
            line-height: 40px;
            margin-top: 20px;
            margin-bottom: 30px;
            font-weight: 900;
            padding-right: 120px;
            color: black;
          }
         
          #about .section-heading h6{
            position: relative;
            font-size: 15px;
            font-weight: 500;
            color: #fb5849;
            padding-left: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
          }
          #about .left-text-content p{
            margin-bottom: 25px;
            font-size: 14px;
            line-height: 25px;
            color: black;
          
          }
          #about img {
            width: 100%;
            overflow: hidden;
          }
          
         
          
          #about .right-content {
            margin-left: 30px;
          }
          
          #about .right-content .thumb {
            position: relative;
          }
          
          #about .right-content .thumb a {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 70px;
            height: 70px;
            display: inline-block;
            line-height: 70px;
            text-align: center;
            background-color: hsl(4, 82%, 89%);
            color: #fff;
            border-radius: 50%;
            transform: translate(-35px, -35px);
            transition: all .3s;
          }
/* about us ends */
 /* menu starts */
 #menu {
  margin-top: 120px;
  background-color: #fffafa;
  padding: 120px 0px;
}

#menu .section-heading {
  margin-bottom: 80px;
}
#menu .section-heading h6{
  position: relative;
  color: #fb5849;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color:#fb5849;
  padding-left: 40px;
}
#menu .section-heading h2{
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
font-weight: 900;
color: black;
padding-left: 15px;
}
.card {
  margin: 0 auto;
  max-width: 100%;
  min-height: 400px;
  /* overflow: hidden; */
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.card1 {
  background-image: url(/images/menu-item-01.jpg);
}
.card2 {
  background-image: url(/images/menu-item-02.jpg);
}
.card3 {
  background-image: url(/images/menu-item-03.jpg);
}
.card4 {
  background-image: url(/images/menu-item-04.jpg);
}
.card5 {
  background-image: url(/images/menu-item-05.jpg);
}

.info {
  position: relative;
  width: 100%;
  background-color: #fb5849;
  border: 1px solid #fb5849;
  transform: translateY(100%)
  translateY(120px)
  translateZ(0);
  transition: transform 0.5s ease-out;
}

.card:hover .info,
.card:hover .info:before {
  transform: translateY(200px) translateZ(0);
}

.title {
  margin: 0;
  padding: 30px 30px 20px 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.description {
  padding: 0px 30px;
  color: #fff;
}

#menu .price h6 {
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #fb5849;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  line-height: 70px;
}
/* #menu.menu-item-carousel{
 display: flexbox; */


#menu .card .main-text-button {
  margin-left: 30px;
  margin-top: 20px;
  padding-bottom: 30px;
}
/* menu end */
/* chef's start */

#chefs {
  padding-top: 120px;
}

#chefs .section-heading {
  margin-bottom: 70px;
}

#chefs .section-heading h6 {
  position: relative;
 letter-spacing: 2px;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
  padding-left: 0px;
}
#chefs .section-heading h2 {
  line-height: 40px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight:900;
    color: #2a2a2a;

}
#chefs .section-heading h6:before {
  display: none;
}

#chefs .chef-item {
  text-align: center;
  border: 1px solid #afafaf;
  padding: 5px;
  transition: all .5s;
  border-radius: 3px;
}

/* #chefs .chef-item:hover {
  border-color: #fb5849;
}

#chefs .chef-item:hover .down-content h4 {
  color: #fb5849; }*/


#chefs .chef-item .thumb {
  position: relative;
}

#chefs .chef-item .thumb img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#chefs .chef-item .thumb .overlay {
  position: absolute;
  background-color: #2a2a2a;
  border-radius: 3px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

#chefs .chef-item .thumb ul.social-icons {
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

#chefs .chef-item .thumb ul.social-icons li {
  display: inline-block;
  margin: 0px 5px;
}

/* #chefs .chef-item .thumb ul.social-icons li a {
  width: 40px;
  height: 40px;
  background-color: #fff;
  color: #2a2a2a;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  transition: all .5s;
} */



#chefs .chef-item:hover .overlay {
  opacity: .9;
  visibility: visible;
}

#chefs .chef-item:hover ul.social-icons {
  opacity: 1;
  visibility: visible;
}
#chefs .chef-item .down-content h4{
font-size: 20px;
font-weight: 700;
color: black;
}
#chefs .chef-item .down-content {
  padding: 20px 0px;
}

/* ends */
/* reservation starts */
#reservation .section-heading {
  margin-bottom: 30px;
}

#reservation .section-heading h6 {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
  color: #fff;
}

#reservation .section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

#reservation .section-heading h6:before {
  background-color: #fff;
}

#reservation p {
  color: #fff;
  margin-bottom: 65px;
}

#reservation {
  margin-top: 120px;
  padding: 120px 0px;
  background-image: url(../images/reservation-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#reservation .phone,
#reservation .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

#reservation .phone i,
#reservation .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #fb5849;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#reservation .phone h4,
#reservation .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

#reservation .phone span a,
#reservation .message span a {
  font-size: 14px;
  color: #2a2a2a;
  transition: all .3s;
}

#reservation .phone span a:hover,
#reservation .message span a:hover {
  color: #fb5849;
}
#contact {
  margin-left: 30px;
  padding: 45px 30px;
  background-color: #fff;
  border-radius: 5px;
}

#contact h4 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #2a2a2a;
  margin-bottom: 30px;
}

.datepicker-days {
  padding: 30px;
  cursor: pointer;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  color: #2a2a2a;
  font-size: 14px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  outline: none;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 15px;
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
  border-color: #fb5849;
}

.contact-form button {
  margin-top: -10px;
  font-size: 13px;
  color: #fff;
  background-color: #fb5849;
  padding: 12px 25px;
  width: 100%;
  box-shadow: none;
  border: none;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
}

.contact-form button:hover {
  opacity: .9;
}

.contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-form ::-webkit-input-placeholder { /* Edge */
  color: #2a2a2a;
}

.contact-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2a2a2a;
}

.contact-form ::placeholder {
  color: #2a2a2a;
}
/* reservation ends */
/* offers starts */
#offers {
  padding-top: 120px;
}

#offers .section-heading {
  margin-bottom: 70px;
}

#offers .section-heading h6 {
  position: relative;
  color: #fb5849;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* padding-left: 30px; */
}
#offers .section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 35px;
  font-weight: 700;
  color: black;

}
#offers .section-heading h6:before {
  display: none;
}

#offers .heading-tabs {
  text-align: center;
}

#offers .heading-tabs .main-dark-button {
  text-align: right;
}

#offers #tabs ul {
  padding: 0;
}
#offers #tabs ul li {
  display: inline-block;
  margin: 0px 15px;
}
#offers #tabs ul li:last-child {
  margin-right: 0px;
}
#offers #tabs ul li:first-child {
  margin-left: 0px;
}
#offers #tabs ul li a {
  text-transform: capitalize;
  width: 100%;
  display: inline-block;
  font-size: 15px;
  color: #2a2a2a;
  font-weight: 600;
  transition: all 0.3s;
  text-align: center;
}

#offers #tabs ul li a img {
  display: block;
  margin: 0 auto 15px auto;
}
#offers #tabs ul .ui-tabs-active a {
  color: #fb5849;
  position: relative;
}
#offers #tabs ul .ui-tabs-active span {
  color: #1e1e1e;
}
#offers .tabs-content {
  margin-top: 60px;
  text-align: left;
  display: inline-block;
  transition: all 0.3s;
}
#offers .tabs-content .tab-item {
  position: relative;
  margin-bottom: 60px;
}
#offers .tabs-content img {
  float: left;
  width: 100px;
  max-width: 100px;
  margin-right: 20px;
  border-radius: 5px;
}
#offers .tabs-content h4 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 10px;
  margin-right: 100px;
}

#offers .tabs-content p {
  margin-right: 100px;
}

#offers .tabs-content .left-list {
  margin-right: 15px;
}

#offers .tabs-content .right-list {
  margin-left: 15px;
}

#offers .tabs-content .price h6 {
  position: absolute;
  top: 15px;
  right: 0;
  width: 70px;
  height: 70px;
  background-color: #fb5849;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

/* offer ends */
/* footer */
footer {
  margin-top: 60px;
  padding: 50px 0px;
  background-color: #fb5849;
}

footer .left-text-content p {
  margin-top: 5px;
  color: #fff;
  font-size: 14px;
  text-align: right;
}

footer .right-text-content p {
  color: #fff;
  font-size: 14px;
  margin-right: 15px;
  text-transform: uppercase;
}


footer .right-text-content {
  text-align: left;
  margin-top: 10px;
}

footer .logo {
  text-align: center;
}

footer .right-text-content ul li {
  display: inline-block;
  margin-left: 15px;
}
footer .right-text-content ul li:first-child {
  margin-left: 0px;
}

/* 
footer .right-text-content ul li a {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  font-size: 20px;
  background-color: #fff;
  border-radius: 50%;
  color: #fb5849;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; 
  }*/


footer .right-text-content ul li a:hover {
  color: #2a2a2a;
}
/* footer ends */
@media (max-width: 992px) {
  #top {
    padding-top: 0px;
    height: auto;
  }
  .header-area .main-nav .nav li.submenu:after {
    right: 3px;
  }
  .header-area .main-nav .nav li.submenu {
    padding-right: 15px;
  }
  .header-area .main-nav .nav li {
    padding-right: 5px;
    padding-left: 5px;
  }
  .header-area .main-nav .nav li a {
    font-size: 14px;
    letter-spacing: 0px;
  }
  #top .left-content {
    text-align: center;
    padding: 25% 0px;
  }
  #about .right-content {
    margin-left: 0px;
    margin-top: 30px;
  }
  #chefs .chef-item {
    margin-bottom: 30px;
  }
  #reservation .phone {
    margin-bottom: 60px;
  }
  #contact {
    margin-left: 0px;
    margin-top: 30px;
  }
  #offers .tabs-content .left-list {
    margin-right: 0px;
  }

  #offers .tabs-content .right-list {
    margin-left: 0px;
  }
  footer .right-text-content {
    text-align: center;
    margin-bottom: 30px;
  }
  footer .left-text-content p {
    text-align: center;
    margin-top: 30px;
  }
}@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
    
   
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}




